<!DOCTYPE html>
<html>
<head>
  <title>Authorize</title>
</head>
<body>

<div>Sign in with App</div>

<div>
  
  <div>Image</div>

  <div>APP_NAME wants to access the following:</div>

  <div>
    <div>Email</div>
    <div>Your email address for registration.</div>
  </div>

  <div>
    <div>Details</div>
    <div>Your first name, last name and date of birth.</div>
  </div>


  <button>Continue as John Doe</button>

  <div>By proceeding, you agree to our Privacy Policy and Terms and Condition.</div>

</div>

<div>Sign in with different account.</div>

</body>
</html>