

<h1>Profile</h1>

<h2>You are currently logged in  with the following tokens:</h2>
<br>
<p>
<b>Your access token</b>
<div id='AccessToken'></div>
</p>
<p>
<br>
<b>Your refresh token</b>
<div id='RefreshToken'></div>
</p>

<output id='Active'></output>
<button id="Introspect">Introspect</button>

<button id="Refresh">Refresh your Token</button>
<script type="text/javascript">
	
const accessToken = document.getElementById('AccessToken')
accessToken.innerHTML = window.localStorage.accessToken

const refreshToken = document.getElementById('RefreshToken')
refreshToken.innerHTML = window.localStorage.refreshToken

const introspect = document.getElementById('Introspect')
const active = document.getElementById('Active')
const refresh = document.getElementById('Refresh')

introspect.addEventListener('click', (evt) => {
	active.innerHTML = ''
	Service.introspect({
		token: window.localStorage.accessToken,
		token_type_hint: 'access_token'
	}).then((data) => {
		if (data.active) {
			active.innerHTML = 'Your token is validated'
		} else {
			active.innerHTML = 'Your token has expired'
		}
	})
}, false)

refresh.addEventListener('click', (evt) => {
	active.innerHTML = ''
	Service.refresh({
		accessToken: window.localStorage.accessToken,
		refreshToken: window.localStorage.refreshToken
	}).then((data) => {
		console.log(data)
		if (data) {
			active.innerHTML = 'Your access token is updated'
			window.localStorage.accessToken = data.access_token
			window.localStorage.refreshToken = data.refresh_token
			accessToken.innerHTML = window.localStorage.accessToken
		} else {
			active.innerHTML = 'Fail to update access token'
		}
	})
})
</script>