<a href="/">Back to Home</a>

<h1><%- title%></h1>


<form>
	<p><label>Email</label></p>
	<p><input type="email" name="email"></p>

	<br>

	<p><label>Password</label></p>
	<p><input type="password" name="password"></p>

	<br>

	<button id="submit">Submit</button>
</form>

<script type="text/javascript">
	
	const submit = document.getElementById('submit')
	submit.addEventListener('click', (evt) => {
		evt.preventDefault()
		const email = document.querySelector('input[name=email]').value
		const password = document.querySelector('input[name=password]').value


		Service.register(email, password).then((data) => {
			const { access_token, refresh_token } = data
			if (access_token && refresh_token) {
				window.localStorage.accessToken = access_token
				window.localStorage.refreshToken = refresh_token
				// window.location.href = '/profile'
			}
		})
		return false
	}, false)
</script>